.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: arial;
    margin-bottom:10px;
  }

  .spinner {
    margin: auto;
    background-size: 100% 100%;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  

  p .error {
    background-color: red;
  }
