<mat-progress-spinner
  class="spinner"
  mode="indeterminate"
  *ngIf="!fruits || fruits.length == 0"
></mat-progress-spinner>
<form *ngIf="fruits && fruits.length > 0" #highlight>
  <b>Highlight:</b>
  <input
    type="checkbox"
    name="name"
    #name="ngModel"
    [(ngModel)]="highlightColor.name"
    [checked]="highlightColor.name"
    (ngModelChange)="
      highlightColor.name
        ? (highlightColorClass.name = colorCodes[0])
        : (highlightColorClass.name = '')
    "
  />name
  <input
    type="checkbox"
    name="price"
    #price="ngModel"
    [(ngModel)]="highlightColor.price"
    [checked]="highlightColor.price"
    (ngModelChange)="
      highlightColor.price
        ? (highlightColorClass.price = colorCodes[1])
        : (highlightColorClass.price = '')
    "
  />price
  <input
    type="checkbox"
    name="discount"
    #discount="ngModel"
    [(ngModel)]="highlightColor.discount"
    [checked]="highlightColor.discount"
    (ngModelChange)="
      highlightColor.discount
        ? (highlightColorClass.discount = colorCodes[2])
        : (highlightColorClass.discount = '')
    "
  />discount
  <input
    type="checkbox"
    name="about"
    #about="ngModel"
    value=""
    [(ngModel)]="highlightColor.about"
    [checked]="highlightColor.about"
    (ngModelChange)="
      highlightColor.about
        ? (highlightColorClass.about = colorCodes[3])
        : (highlightColorClass.about = '')
    "
  />about
</form>
<ng-container *ngIf="fruits && fruits.length > 0">
  <ng-container
  *ngFor="let fruit of fruits; let i = index; trackBy: isUpdated">
  <div appBetterHighlighter
    class="card" *ngIf="fruit.name"
  >
    <h1 appHighlight [color]="highlightColorClass" ele="name">
      {{ fruit.name }}
    </h1>
    <div *ngIf="(!isEdit || isEdit['name'] !== fruit.name)">
      <span
        [appCurrencyConverter]="currencyConvertRate"
        [amount]="{ price: fruit.price, id: i }"
        appHighlight
        [color]="highlightColorClass"
        ele="price"
        class="price"
        >${{ fruit.price }}/{{ fruit.quantity }}
        <!-- <i  fa-fa-info-circle id="priceConversion{{i}}"></i> -->
      </span>

      <p appHighlight [color]="highlightColorClass" ele="discount">
        <b>Given discount {{ fruit.discount }}..</b>
      </p>
      <p>
        <b>Some text about the {{ fruit.name }}..</b>
      </p>

      <p appHighlight [color]="highlightColorClass" ele="about">
        {{ fruit.about }}
      </p>
      <p><button (click)="enableEdit(fruit.name)">Edit</button> 
        <button (click)="deleteFruit(fruit.name, i)">Delete
      </button></p>
      <mat-progress-bar id="progressbar{{i}}" appCustomLoader [isLoading]="isDelete" #progressBar mode="indeterminate"></mat-progress-bar>
    </div>
    <app-add-fruit *ngIf="(isEdit && isEdit['name'] == fruit.name)"
      [addNew]="addNew"
      [(updatedFruit)]="updatedFruit"
      [(isEdit)]="isEdit"
      [(fruits)]="fruits"
      [fruit]="fruit"
    ></app-add-fruit>
  </div>
</ng-container>
  
  <div class="card" *ngIf="addNew">
    <app-add-fruit
      [(addNew)]="addNew"
      [(updatedFruit)]="updatedFruit"
      [(isEdit)]="isEdit"
      [(fruits)]="fruits"
    ></app-add-fruit>
  </div>
  <div #addFruit class="more-btn">
    <button type="button" (click)="addNewFruit()" class="add btn btn-light">Add More</button>
  </div>
</ng-container>
