.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 6px;
  align-items: center;
  justify-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 100%; */
    margin: auto;
    padding: 30px;
    text-align: center;
    font-family: arial;
    margin-bottom:10px;
  }

  .spinner {
    margin: auto;
    background-size: 100% 100%;
  }
  
  .price {
    color: grey;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    width: 40%;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
  }
  

  p .error {
    background-color: red;
  }

  .more-btn {
    display: flex;
  align-items: center;
  justify-content: center;
  }

  .add {
    margin-top: 10px
  }