<section class="home common">
    <!-- <div class="shape">
        <img class="shape1" src="" alt="">
        <img class="shape2" src="" alt="">
        <img class="shape3" src="" alt="">
        <img class="shape4" src="" alt="">
        <img class="shape5" src="" alt="">
        <img class="shape6" src="" alt="">
    </div>
    <div class="home-inner">
        <div class="text">
            <h5>Frontend Developer</h5>
            <h1>Pranay</h1>
            <p>
                Hi, I'm Pranay. I spend my days crafting sleek user interfaces as a frontend developer. When I am not buried in code, I'm either exploring new tech innovations and businesses, sketching up my latest artistic inspirations, or embarking on spontaneous adventures. Always on the lookout for new experiences and ways to blend my passions together.
            </p>
            <a href="#" class="btn">learn more about</a>
        </div>
        <div class="img">
            <img src="" alt="">
        </div>
    </div> -->
    <ul>
        <li (click)="navigateTo('fruits')">fruits</li>
        <li>Vegetables</li>
        <li>grocery</li>
    </ul>
</section>